.Nav {
    width: 300px;
    height: 100%;
    position: relative;
    &__Container {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
        width: 100%;
        height: 5px;
        &>div:first-child {
          margin: 20px 20px 0 0;
          & button {
            position: relative;
              cursor: pointer;
              width: 240px;
              height: 35px;
              font-size: 16px;
              opacity: 0.8;
              color: rgb(226, 226, 226);
              background-color: rgb(67, 99, 202);
              border-radius: 12px;
              border: 0;
              outline-style: none;
              filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.2));
              &:hover {
                  color: rgb(56, 65, 105);
                  background-color: #fff;
                  filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.4));
                  opacity: 0.9;
                  transition-duration: 0.1s;
              }
          }
      }


    }
    &__ClassList {
      cursor: pointer;
      min-width: 210px;
      // padding: 0 15px;
      color: rgb(248, 248, 248);
      background-color: #fff;
      border-radius: 12px;
      list-style: none;
      filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.2));
      background-color: rgb(67, 99, 202);
      &::before {
          position: fixed;
          top: 0;
          right: 0;
          width: 10px;
          height: 10px;
          background-color: rgb(163, 22, 22);
      }
      &>li {
          min-width: 200px;
          height: 35px;
          text-align: center;
          line-height: 35px;
          padding: 10px 0;
          border-bottom: 1px solid rgb(67, 121, 172);
      }
      &>li:hover {
        border-radius: 12px;
          background-color: rgb(26, 59, 150);
      }
  }
  &__ClassListOff {
      display: flex;
      position: fixed;
      z-index: 30;
      top: 58px;
      right: 15px;
      min-width: 210px;
      padding: 0 15px;
      background-color: #fff;
      border-radius: 12px;
      visibility: hidden;
      list-style: none;
      filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.2));
      &>li {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          min-width: 200px;
          height: 35px;
          padding: 10px 0;
          border-bottom: 1px solid rgb(216, 224, 231);
      }
  }
    &__AdminList {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 210px;
        padding: 0 15px;
       margin-bottom: 0px;
       background-color: rgb(255, 255, 255);
       border-radius: 12px;
        list-style: none;
        &>li {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 88%;
            height: 30px;
            padding: 3px 15px;
            border-bottom: 1px solid rgb(216, 224, 231);
        }
        &>li:first-child {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            width: 100%;
            font-size: 14px;
            color: rgb(158, 158, 158);
            padding: 3px 3px 0 3px;
            border: none;
        }
        &>li:last-child {
            height: 5px;
            width: 100%;
            border: 0;
            // border-radius: 0 0 12px 12px;
        }
    }

    &__StudentList {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 210px;
        padding: 0 15px;
       margin: 5px 0 0 0;
       background-color: #fff;
       border-radius: 12px;
        // visibility: hidden;
        list-style: none;
        &>li {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 88%;
            height: 30px;
            padding: 3px 15px;
            background-color: #fff;
            border-bottom: 1px solid rgb(216, 224, 231);
            border-radius: 12px 12px 0 0;
        }
        &>li:first-child {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            width: 100%;
            font-size: 14px;
            color: rgb(158, 158, 158);
            padding: 3px 3px 0 3px;
            border: none;
        }
        &>li:last-child {
            height: 5px;
            width: 100%;
            border: 0;
            border-radius: 0 0 12px 12px;
        }
    }

}
.member-list {
  margin: 3px 20px 0 0;
}
.search-input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 210px;
  padding: 10px 15px;
 margin: 10px 20px 0 0;
 background-color: #fff;
 border-radius: 12px;
  list-style: none;
  & input {
    height: 25px;
    padding-left: 10px;
    border-radius: 3px;
    border: 1px solid rgb(203, 200, 206);
  }
  & button {
    width: 50px;
    height: 25px;
    margin-left: 7px;
    color: cornsilk;
    background-color: rgb(98, 118, 231);
    border-radius: 4px;
  }
}

