<div class="Nav">
    <div class="Nav__Container">

        <div #tmenu>
            <button (click)="this.expand(tmenu)">{{ this.$student.currentClass? this.$student.currentClass?.id + "班" : '選擇班級'}}</button>
            <ul *ngIf="this.isOpen" class="Nav__ClassList">
                <li *ngFor='let class of this.$student.classes' (click)='this.setCurrentList(class)'>{{ class.id + '班' }}</li>
            </ul>
        </div>
        <section class="search-input">
          <input type="text" placeholder="搜尋學生" [value]=" this.searchValue "><button (click)="this.search()">確定</button>
        </section>
        <div class="member-list">
            <ul class="Nav__AdminList">
                <li> {{ className }} 管理員</li>
                <li *ngFor='let admin of this.$student.currentClass?.admins' (click)='this.isAdminPage(admin)'>
                    {{admin.name}}</li>
                <li></li>
            </ul>
            <ul class="Nav__StudentList">
                <li> {{ className }} 學生</li>
                <!-- <li *ngFor='let student of this.$student.currentClass?.students' (click)='this.setStudentPage(student)'>
                    {{student?.name}}</li> -->
                <li></li>
            </ul>
        </div>
    </div>
</div>
