.export {
  &__Table {
    width: 100%;
    margin-top: 3rem;
      &  >  thead {
        width: 100%;
        background-color : #F5F9EB;
        & > tr {
          width: 100%;
          border-bottom: 1px solid #e1e7d2;
         &  th {
            flex: 1;
            height: 52px;
            text-align: left;
            padding: 0 1rem;
          }
        }
      }

     & > tbody {
        width: 100%;
        & > tr {
          width: 100%;
          border-bottom: 1px solid #e1e7d2;
          &   td {
            flex: 1;
            height: 52px;
            vertical-align: middle;
            padding: 0 1rem;
          }
        }

      }
    }
}
