<section  class="CsvToJsonlayOut">
  <div class="CsvToJsonlayOut__Container">
    <aside class="CsvToJsonlayOut__SideBar">
     <app-side-bar></app-side-bar>
    </aside>
    <main class="CsvToJsonlayOut__Main">
       <!-- <router-outlet (activate)=" this.data = $event "></router-outlet> -->
    </main>
  </div>
</section>
