.CsvToJsonlayOut {
  width: 100%;
  height: 100%;
  background-color: rgb(9, 43, 71);
  font-size: 10.8px;
  &__Container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }
  &__SideBar {
    width: 20%;
    height: 100%;
    padding: 0;
    color: rgb(223, 223, 223);
    border-right: 1px solid #f0f0f0;
  }
  &__Main {
    min-width: 80%;
    height: 100%;
  }
}
