.Carousel {
  width: 100%;
  height: 100%;
  &__Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  &__Config {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    & > span {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 1px solid black;
    }
    &--active {
      background-color: rgb(235, 157, 41);
    }
  }
  &__Img {
    overflow: hidden;
    width: 400px;
    height: 400px;
    background-color: #fff;
    border: 1px solid black;
    display: flex;
    img {
      width: 100%;
    }
  }
}

.move {
  animation: carousel 1s;
}

@keyframes carousel {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}
.a {
    color:red
}
.b {
    color: blue;
}
.a.b {
color: orange;
}
.b.a {
    color: yellow;
}
