 .Ad {
   width: 100%;
   height: 100%;
  &__Container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    overflow-x: auto;
    &::-webkit-scrollbar {
      height: 0px;
    }
    border: 1px solid black;
    & > div {
      min-width: 330px;
      height: 60px;
      margin: 0 5px;
      background-color: black;
      &:nth-child(odd) {
        background-color: red;
      }
    }
  }
}
