.sideBar {
  &__Container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    list-style: none;
  }
  &__Item {
    position: relative;
    line-height: 40px;
    box-sizing: border-box;
    height: 40px;
    padding-left: 10px;
    color: rgba(0, 0, 0, .65);
    outline-style: none;
    &:hover {
      color: #9AC13B ;
      background-color: rgba(154, 193, 59, .1);
      border-right: 5px solid #9AC13B;
    }
  }
}
