<section class="sideBar">
  <ul class="sideBar__Container">
    <li class="sideBar__Item" [routerLink]="[ 'edit' ]">Edit</li>
    <li class="sideBar__Item"[routerLink]="[ 'export' ]">Export</li>
  </ul>
</section>
