
.Layout {
    width: 100%;
    height: 100%;
    background-color: rgb(101, 148, 201);
    &__Container {
      display: flex;
      flex-direction: row;

        width: 100%;
        height: 100%;
    }
    &__Main {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
    }
}
