.DefaultPage {
    width: 100%;
    height: 100%;
    &__Container {
        width: 100%;
        height: 100%;
    }
    &__Frame {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 270px;
        width: 435px;
        color: rgb(255, 255, 255);
        font-size: 60px;
        padding-left: 15px;
        margin-top: 100px;
        border-radius: 25px;
        background-color:  rgb(67, 99, 202);
    }
}