@import "/src/assets/styles/btn";

.Overlay {
  background-color: rgba(black, 0.7);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
