@import "/src/assets/styles/icon";

.pi-coin {
width: 100%;
height: 100%;
padding: 0;
margin: 0;
background: linear-gradient(
90deg
,#8c3590,#2c4982);
&__container {
  width: 100%;
  height: 100%;
  padding: 0 4%;
}
}
.header {
  position: relative;
  padding: .5rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  & em {
    height: 48px;
    width: 48px;
  }
  &__title {
    margin-left: 0.5rem;
    font-size: 1.25rem;
color: #fbb44a;
  }
  &__subtitle {
    position: relative;
    padding: .25rem .5rem;
    margin: 0 .5rem 0 1rem;
   color: rgb(250, 250, 250);
    font-size: .875rem;
    border: 1px solid #fbb44a;
  }
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 60%;
  max-width: 750px;
  margin: 32px auto;
  color: white;
  & p {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__desc--active,
  &__desc--inactive{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 284px;
    height: 284px;
    border: 2px solid #fff;
    border-radius: 100%;
  }
}

.icon-loading {
  &:before {
    content: "挖礦中";
    font-size: 1.5rem;
    color: white;
    white-space: nowrap;
    letter-spacing: normal;
    font-style: normal;
  }
}
.icon-pi-coin-white {
  width: 24px;
  height: 24px;
  margin-left: 3px;
}
