<div class="pi-coin">
  <div class="pi-coin__container">

  <!-- 標題 -->
  <section class="header">
    <em class="icon icon-pi-coin-gold"></em>
    <h1 class="header__title">F Coin</h1>
    <div class="header__subtitle">挖幣去</div>
  </section>

  <!-- 顯示區 -->
  <section class="content">
    <div class="content__desc--active">
      <em class="icon icon-loading"></em>
      <p>每秒可獲得<span></span>枚<i class="icon icon-pi-coin-white"></i>，結束後24小時內不能再挖礦</p>
    </div>
    <div class="content__desc--inactive">
      <p>點擊畫面可開始挖礦，挖礦期間每秒可獲得一枚<i class="icon icon-pi-coin-white"></i></p>
      <p>，同時間有朋友在進行挖礦的話，則每秒可額外獲得0.25枚<em class="icon icon-pi-coin-white"></em></p>
    </div>
    <div class="content__dashboard">
      <h2>我的資產:</h2>
      <p><em class="icon icon-pi-coin-white"></em></p>
    </div>
  </section>

   <!-- 上線人員表 -->
  <section class="user-list">

  </section>

  <!-- 結束鈕 -->
  <button class="finish-button"></button>

  </div>
</div>
