.StudentPage {
    width: 100%;
    height: 100%;
    &__Container {
        width: 100%;
        height: 100%;
    }
    &__Frame {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 270px;
        width: 450px;
        margin-top: 100px;
        border-radius: 25px;
        background-color: #fff;
    }
    &__Class {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-size: 80px;
        font-weight: 700;
        font-family: Arial, Helvetica, sans-serif;
    }
    &__Info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        height: 190px;
        border-left: 1px solid rgb(237, 242, 255);
        list-style: none;
        & > li {
            padding: 5px 0;
            font-size: 25px;
            font-weight: normal;
            height: 80px;
                & > p {
                    font-size: 15px;
                    margin: 5px 0;
                }
                &> h1 {
                    font-size: 14px;
                    font-weight: 100;
                    color: rgb(114, 151, 221);
                }
            &> input {
                position: relative;
                font-size: 25px;
                border: none;
                outline: none;
                width: 150px;
                padding-left: 10px;
//                 &:hover:before {
//                     position: fixed;
//                     z-index: 100;
// background-color: rgb(187, 19, 19);
//                     border: 1px solid rgb(151, 175, 219);
//                     border-radius: 4px;
//                 }
            }
        }
    }
}
.tPriority {
        padding: 5px 0;
        font-size: 25px;
        font-weight: normal;
        &> span{
            display: flex;
            flex-direction: row;
            align-items: center;
            & > p {
                font-size: 15px;
            }
            &> h1 {
                font-size: 14px;
                font-weight: 400;
                color: rgb(114, 151, 221);
            }
        }
        &> input {
            position: relative;
            font-size: 25px;
            border: none;
            outline: none;
            width: 150px;
            padding-left: 10px;
                &:hover:before {
                    position: fixed;
                    z-index: 100;
                    top: 0;
                    right: 0;
background-color: rgb(187, 19, 19);
                    border: 1px solid rgb(151, 175, 219);
                    border-radius: 4px;
                }
        }
}
