<div class=" section">
  <div class="Carousel__Img" (touchmove)="onTouch($event)" (touchend)="touchEnd($event)">
    <div class="container">
    <img  class="film"  *ngFor='let img of this.film' [src]="img" [class.move]="this.isMove" alt="" appTouchMove>
    </div>
  </div>
</div>

