
.section {
    height: 100%;
    width: 100%;
    background-color: #4a4463;
}
.Carousel__Img {
  width: 100vw;
  overflow: hidden;
  display: flex;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
width: 310%;
transform: translateX(-24%);
}
.film {
  min-width: 20%;
  margin: 1.5%;
  background-color: #fff;
  border-radius: 10px;
}

.move {
  animation: carousel 1s;
}

.fadeout-left {
  animation: fadeout-left 1s;
  animation-fill-mode: forwards;
}
.fadeout-right {
  animation: fadeout-right 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeout-left {
  0% {
    transform: translateY(-50%) translateX(0);
  }
  100% {
    transform: translateY(-50%) translateX(-100vw);
  }
}
@keyframes fadeout-right {
  0% {
    transform: translateY(-50%) translateX(0);
  }
  100% {
    transform: translateY(-50%) translateX(100vw);
  }
}

@keyframes carousel {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-113%);
  }
}


