
<section>
  <div class="Overlay" *ngFor="let dialog of $overlay.dialogs" appActiveDialog [dialog]="dialog">
    <ng-template *ngComponentOutlet = "dialog.component; injector: this.$overlay.getDialogInjector(dialog)"></ng-template> -->
</div>
</section>
