@import "variables";

html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: $color-primary;
}

body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

fieldset {
    border: 0;
}

/* 隱藏input底線 */
:host ::ng-deep .mat-form-field-underline {
    opacity: 0;
    height: 0;
}

.mat-select {
    height: 40px;
    line-height: 40px;
    width: 230px;
    background: #e9e9e9;
    border: 2px solid #d9d9d9;
    border-radius: 3px;
    outline: none;
    color: black;
}

/* mat-select箭頭顏色 */
:host ::ng-deep .mat-select-arrow,
:host ::ng-deep .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
    color: $color-secondary;
}

/* mat-checkbox 勾選顏色 */
:host ::ng-deep .mat-checkbox-checkmark-path {
    stroke: $color-primary !important;
    stroke-width: 4px;
}

/* mat-checkbox 背景,外框顏色 */
:host ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: #ffffff;
    border: 2px solid $color-primary;
}

// Enable flex behaviors
.u-d-flex {
    display: flex;
}

// Direction
.u-flex-row {
    flex-direction: row;
}

.u-flex-column {
    flex-direction: column;
}

// Justify content
.u-justify-content-start {
    justify-content: flex-start;
}

.u-justify-content-end {
    justify-content: flex-end;
}

.u-justify-content-center {
    justify-content: center;
}

.u-justify-content-between {
    justify-content: space-between;
}

.u-justify-content-around {
    justify-content: space-around;
}

// Align items
.u-align-items-start {
    align-items: flex-start;
}

.u-align-items-end {
    align-items: flex-end;
}

.u-align-items-center {
    align-items: center;
}

// Text-align
.u-t-align--center {
    text-align: center;
}

.u-t-align--left {
    text-align: left;
}

.u-t-align--right {
    text-align: right;
}

// margin
.u-margin--sm {
    margin: 2%;
}
