@import "variables";
/* 全站按鈕 */
.btn {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  color: #ffffff;
  padding: 7px 20px;
  border-radius: 4px;
  -webkit-appearance: none;
}

.btn--icon {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  color: #ffffff;
  border-radius: 4px;
}

/* 綠色功能鈕 */
.btn--primary {
  background-color: #092b47;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

/* 藍色功能鈕 */
.btn--secondary {
  background-color: $color-secondary;

}

/* 灰色功能鈕 */
.btn--dark {
  background-color: $color-dark;
}

/* list右側的綠色箭頭按鈕 */
.btn--arrow {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  color: #ffffff;
}


// drop-down Menu+text  下拉選單按鈕

    //  尺寸
//    large  寬:268px 長:44px
// <fieldset>
//    <button  class="btn-select btn-select--large">
//        <i class=" icon icon-bottom-arrow-gray "></i>
//    </button>
// </fieldset>

//   defualt  寬:268px 長:40px
// <fieldset>
//    <button  class="btn-select btn-select--default">
//        <i class=" icon icon-bottom-arrow-gray "></i>
//    </button>
// </fieldset>

//    small  寬:260px 長:36px
// <fieldset>
//    <button  class="btn-select btn-select--small">
//        <i class=" icon icon-bottom-arrow-gray "></i>
//    </button>
// </fieldset>

      // error時
//    class = " btn-select--error "



.btn-select {
    position: relative;
    padding: 7px;
    font-size: 18px;
    font-weight: 400;
    color: rgb(9, 43, 71);
    text-align: left;
    letter-spacing: .1em;
    border: 2px solid #d9d9d9;
    box-sizing: border-box;
    cursor: pointer;
    & i {
      position: absolute;
      background-size: contain;
      background-position: center;
      background-image: url("/assets/img/account/bottom-arrow-gray.svg");
      z-index: 3;
      top: 5px;
      right: 10px;
      width: 14px;
    }
    &:hover {
      border: 2px solid #d9d9d9;
      box-sizing: border-box;
    }
    &:focus {
      border: 2px solid #d9d9d9;
    }
    &:disabled {
      background: #e0e0e0;
     border: 2px solid #e2e2e2;
     & i {
      background-image: url("/assets/img/input/arrow-gray.svg");
     }
    }
    &__error {
      color: #858585;
      border: 2px solid #F483A0 ;
      & i {
        background-image: url("/assets/img/input/error.svg") ;
      }
     }
     &--large {
      min-height: 44px;
      font-size: 20px;
      line-height: 30px;
      border-radius: 4px;
    }
    &--default {
      min-height: 40px;
      font-size: 18px;
      line-height: 24px;
      border-radius: 3px;
    }
    &--small {
      min-height: 36px;
      font-size: 12px;
      line-height: 18px;
      border-radius: 2px;
    }
  }
