@import "variables";

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

// Text alignment
.u-text--left {
  text-align: left;
}

.u-text--center {
  text-align: center;
}

.u-text--right {
  text-align: right;
}

// Font weight
.u-fw-normal {
  font-weight: normal;
}

.u-fw-bolder {
  font-weight: bolder;
}

.u-fw--bold {
  font-weight: bold;
}

// Text color
.u-text--primary {
  color: $color-primary; //綠色
}

.u-text--dark {
  color: $text-primary; //深灰色
}

.u-text--gray {
  color: $text-secondary; //淺灰色
}

.u-text--warning {
  color: $color-warning; //粉紅色
}

// 資產總覽金額樣式
.amount--sm {
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.64px;
  font-weight: bolder;
}

.amount--base {
  font-size: 21px;
  line-height: 24px;
  letter-spacing: 0.64px;
  font-weight: bolder;
}

// 餘額樣式
.balance {
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.04em;
}

/* 帳戶號碼字體樣式 */
.account-number {
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 1.92px;
  font-weight: bolder;
}

/* account-list 樣式 */
.card-title {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1.6px;
  font-weight: bolder;
}

// 表單
.item {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
}

.tip {
  margin-top: 1%;
  text-align: left;
}

// 注意事項樣式
// <div class="u-text--warning precautions">
// <h3 class="precautions-title">注意事項：</h3>
// <ol class="precautions-list precautions-text">
//     <li class="precautions-text" >您指定的起、迄支票須為同一支票本內的支票號碼。</li>
//     <li class="precautions-text">若您僅查詢單筆支票明細，「支票號碼(迄)」欄免輸入。</li>
// </ol>
// </div>
.precautions {
  margin: 0 0 30px 0;
  text-align: left;

  &-list {
    margin-left: 20px;
  }

  &-title {
    padding: 5px 0 0 0;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.1em;
  }

  .precautions-text {
    padding: 5px 0 0 0;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.1em;
    margin-bottom: 7px;
  }
}



// 無明細資料
.content--empty {
  padding-top: 10%;
  font-size: 16px;
  color: $text-primary;
}
