.icon {
  display: inline-block;
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
  background-size: contain;
}

.icon-pi-coin-gold {
  background-image: url(/src/assets/img/p-coin.png);
}
.icon-pi-coin-white {
  background-image: url(/src/assets/img/p-coin-white.png);
}
.icon-bottom-arrow-gray {
  background-image: url(/src/assets/img/account/bottom-arrow-gray.svg);
}
