.fieldset-text,
.fieldset-input,
.fieldset-select,
.fieldset-radio {

    margin-bottom: 5%;
    color: $text-secondary;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.fieldset-input label,
.fieldset-text label{
    font-size: 16px;
}

.fieldset-radio,
.fieldset-text{
    padding: 8px 12px;
}

.label{
  color: rgb(228, 228, 228);
    font-size: 16px;
}

.row {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


// 預設 text 樣式
/*
            <fieldset class="fieldset-text">
                <label>example</label>
                <div class="row">
                    <p class="item u-text--dark">110/04/07</p>
                </div>
            </fieldset>
*/

// 預設 input text 樣式 (不需下方tip，可直接移除)
/*
            <fieldset class="fieldset-input">
                <label>example</label>
                <div class="row">
                    <input type="text" class="input">
                    <div class=" u-t-align--left u-text--gray ">
                        <p></p>
                    </div>
                </div>
            </fieldset>
*/

.input {
    background: #e9e9e9;
    border: 2px solid #d9d9d9;
    border-radius: 3px;
    outline: none;
    color: $text-primary;
    padding: 10px 15px;
}

// 預設 input select 樣式
/*
            <fieldset class="fieldset-select">
                <label class="label">example</label>
                <div class="row">
                    <select class="select">
                        <option>item</option>
                        <option>item</option>
                    </select>
                    <div class=" u-t-align--left u-text--gray ">
                        <p></p>
                    </div>
                </div>
            </fieldset>
*/

.select {
    padding: 10px 15px;
    border: 2px solid #d9d9d9;
    border-radius: 3px;
    outline: none;
    display: inline-block;
    cursor: pointer;
    background: #e9e9e9;
    color: $text-primary;
    // 箭頭樣式
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    // background: url("../../assets/img/input/select-arrow-icon.svg") no-repeat right center #e9e9e9;
}

// 預設 input radio 樣式(橫向)
/*
            <fieldset class="fieldset-radio">
                <label class="label" for="">example</label>
                <div class="radio-group">
                    <label class="radio-btn">item
                        <input type="radio" id="example01" name="radio" checked="checked">
                        <span class="checkmark"></span>
                    </label>
                    <label class="radio-btn">item
                        <input type="radio" id="example02" name="radio">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </fieldset>
*/

.radio-group{
    display: flex;
    justify-content: flex-start;
    width: 65%;
    word-break: break-word;
}

.radio-btn {
    display: block;
    position: relative;
    padding-left: 30px;
    padding-right: 10px;
    cursor: pointer;
    font-size: 16px;
    color: $text-secondary;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 25px;
}

/* 隱藏預設按鈕 */
.radio-btn input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


/* 自定義按鈕 */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background: #dcdcdc;
    border: 2px solid #E9E9E9;
    box-sizing: border-box;
    border-radius: 50%;
}

/* 點選按鈕後添加綠色背景 */
.radio-btn input:checked ~ .checkmark {
    background: #dcdcdc;
    border: 2px solid #092b47;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radio-btn input:checked ~ .checkmark:after {
    display: block;
}

.radio-btn .checkmark:after {
    top: 4px;
    left: 4px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #092b47;
}

// 預設 input checkbox 樣式(製作中)

// 預設 input switch 樣式(製作中)

// 預設 仿input button 樣式(製作中)
