//這裡只能放$開頭的變數,不能放任何其它scss
// ===== global colors =====
$color-primary: rgb(9, 43, 71);
$color-secondary: #3f93af;
$color-warning: #f483a0;
$color-success: #a9cc37;
$color-dark: #959595;
// ===== font settings =====å
$font-family: "Noto Sans TC",
sans-serif;
$text-primary: #515151;
$text-secondary: #858585;
$font-weight-1: 400;
$font-weight-2: 700;
// ====== Material Setting =====
$mat-deepGreen: ( 500: #0f9036, );
$mat-blue: ( 500: #3f93af, );
$mat-pink: ( 500: #f483a0, );
// ====== border =====
$border-radius: 10px;
$border-dotted: 0.3px dotted #e0e0e0;
$box-shadow-list: 0px 0px 7px rgba(0, 0, 0, 0.08);
