@import "/src/assets/styles/btn";

.OverlayExample {

  &__Row {
    display: flex;
    flex-direction: row;
    place-content: center flex-start;
    margin: 85px 0 0 110px;
  }
  &__Main {
    background-color: rgba(black, 0.7);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
