@import "/src/assets/styles/btn";

.Layout {
  position: relative;
  display: flex;
  flex-direction: row;
  min-width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: rgb(9, 43, 71);
  &__Navigate {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 235px;
    height:  calc(100% - 25px);
    padding: 10px 0 15px 15px;
    background-color: rgb(9, 43, 71);
    user-select: none;

    &_Icon {
      position: fixed;
      z-index: 91;
      top: 17px;
      left: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      font-size: 25px;
      color: rgb(253, 253, 253);
      opacity: .3;
      background-color: rgb(9, 43, 71);
      border-radius: 50%;
      border: 1px solid hsla(0, 0%, 100%, 0.377);
      transition: .5s;
      cursor: pointer;
      &:hover {
        opacity: 1;
        border: 1px solid white;
      }
    }
    &_Back {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 50px;
      width: 46px;
      padding-right: 4px;
margin: 5px 0 8px 20px;
      font-size: 20px;
      color: rgb(255, 255, 255);
      border-radius: 50%;
      border: 1px solid hsla(0, 0%, 100%, 0.377);
      opacity: .5;
      transition: .3s;
      cursor: pointer;
      &:hover {
        opacity: 1;
        border: 1px solid white;
      }
    }
  }
}
.nav-btn {
  display: flex;
  flex-direction: row;
  width: 215px;
  box-sizing: border-box;
  // border-radius: 5px 0 5px 5px;
  border-bottom: 1px solid rgba(44, 77, 107, 0.425);
  border-left: 1px solid rgba(182, 160, 63, 0);
  box-shadow: 0 1px 1px rgba(3, 16, 41, 0.144);
transition: .3s;

  &--active:hover {
    background-color: rgba(128, 179, 238, 0.11);
    border-left: 2px solid rgb(182, 160, 63);
    border-radius: 5px;
    transform: scale(1.1);
    box-shadow: 3px 4px 5px rgba(3, 16, 41, 0.3);
  }
  &--inactive:hover {
    background-color: rgba(255, 255, 255, 0.062);
  }
  & > .nav-btn--right:hover > i  {
    border-left: 1px solid rgba(255, 255, 255, 0.521);
    color: rgb(182, 160, 63);
  }
  &--left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 70px;
    font-size: 15px;
    letter-spacing: 2px;
    text-align: left;
    border-radius: 5px 0 0 5px;
  }
  &--right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 70px;

    font-size: 16px;
    border-radius: 0 5px 5px 0;
    & > i {
      padding-left: 10px;
      padding-right: 15px;
    }
  }
  &--inactive {
    opacity: 0.3;
  }
}

.function-btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 92%;
  padding: 9px 8% 0 0;
  &_reset {
    height: 35px;
    width: 60px;
    font-size: 15px;
    letter-spacing: 2px;
    color: rgb(243, 243, 243);
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.274);
    &:hover {
      background-color: rgba(255, 255, 255, 0.055);
      border: 1px solid rgba(255, 255, 255, 0.5);
    }
  }
}

.navigateFadeIn {

}

// .router-outlet {
//   max-width: calc(100% - 215px);
//   height: 100%;
// }
