<section class="Layout">
  <div class="Layout__Navigate_Icon" (click)="toggleMenu()" *ngIf="!this.isMenu"><i class="fa fa-list"></i></div>
  <div class="Layout__Navigate" *ngIf="this.isMenu">
 <i class="Layout__Navigate_Back fa fa-chevron-left"
 (click)="toggleMenu()"></i>
    <section class=" nav-btn nav-btn--active" [class.navigateFadeIn]="this.isMenu === true" *ngFor="let array of this.activeRouterList | keyvalue">
      <button class="nav-btn--left  btn " (click)="toPage(array.value.path)">{{array.value.name}}</button>
      <button class="nav-btn--right btn" (click)="reduceFunc(array.key, array.value)"><i
          class="fa fa-times"></i></button>
    </section>
    <section class="function-btn">
      <button class="function-btn_reset" (click)="initialActiveRouterList()">重置</button>
    </section>
    <section class=" nav-btn nav-btn--inactive" *ngFor="let array of this.inactiveRouterList | keyvalue">
      <button class="nav-btn--left  btn ">{{array.value.name}}</button>
      <button class="nav-btn--right btn" (click)="addFunc(array.key, array.value)"><i class="fa fa-plus"></i></button>
    </section>
  </div>

    <router-outlet></router-outlet>

    <app-overlay-control-center></app-overlay-control-center>

</section>
