.edit {
  width: 100%;
  height: 80%;
  &__Convert {
    display: flex;
    width: 80%;
    margin: 48px;
  }
  &__ConvertInput {
    display: flex;
    flex-direction: column;
    flex: auto;

  }
  &__Button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98px;
    height: 50px;
    margin: 85px 24px 24px 24px;
    padding: 8px;

    &::after {
      margin-left: 8px;
    }
  }
  &__FileInput {
    width: 100%;
    height: 146px;
    margin-top: 16px;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    outline: none;
    &:focus {
      border: 1px solid rgb(156, 180, 156);
    }
    &:hover {
      border: 1px solid rgb(156, 180, 156);
    }
  }
  &__List {
    margin-top: 16px;
  }
  &__ListItem {
    display: flex;
    flex-direction: row;
    height: 56px;
    width: 20%;
  }
  & .green {
    background-color: rgba(154, 193, 59, 0.1);
  }
  & h1 {
    color: #000;
    opacity: 0.85;
    font-size: 25px;
    font-weight: Bold 700;
    word-break: normal;
    white-space: nowrap;
  }
  & h4 {
    font-size: 1.2rem;
    font-weight: medium 500;
    word-break: normal;
    word-break: normal;
    white-space: nowrap;
  }
  & p {
    font-size: 1.2rem;
    color: #000;
    opacity: 0.65;
    font-weight: regular 400;
    word-break: normal;
  }
  & .convertButton {
    font-size: 1.2rem;
    color: #9ac13b;
    font-weight: medium 500;
    word-break: normal;
    &:hover {
      color: #60810b;
    }
    & pre {
      font-size: 20px;
    }
  }
  &__Table {
    width:80%;
    margin: 48px;
    & > caption {
      font-size: 25px;
      font-weight: 700;
      text-align: left;
    }
    & > thead {
      width: 100%;
      background-color: #f5f9eb;
      & > tr {
        width: 100%;
        border-bottom: 1px solid #e1e7d2;
        & th {
          flex: 1;
          height: 60px;
          font-size: 16px;
          text-align: left;
          padding: 0 1rem;
          border-bottom: 1px solid rgb(209, 224, 209);
        }
      }
    }

    & > tbody {
      width: 100%;
      & > tr {
        width: 100%;
        border-bottom: 1px solid #e1e7d2;
        & td {
          flex: 1;
          height: 60px;
          font-size: 16px;
          vertical-align: middle;
          padding: 0 1rem;
          border-bottom: 1px solid rgb(209, 224, 209);
        }
      }
    }
  }
}

.CsvConvert {
  padding: 3rem;
}
