<section class="edit">
    <div class="edit__Convert">
      <section class="edit__ConvertInput">
        <h1>CSV Data</h1>
        <textarea class="edit__FileInput" [(ngModel)]= "this.CSVdata"></textarea>
      </section>
      <button class="edit__Button convertButton"  (click)="this.convert(this.fields)">Convert</button>
      <section class="edit__ConvertInput">
        <h1>Json Data</h1>
        <textarea disabled class="edit__FileInput"> {{ this.JSONdata == []? "" : (this.JSONdata | json)}} </textarea>
      </section>
    </div>
    <table class="edit__Table">
      <caption>Table</caption>
      <thead>
        <tr><th *ngFor = "let title of this.titles"> {{title}} </th></tr>
      </thead>
      <tbody>
        <tr *ngFor = "let field of fields">
          <td *ngFor = "let title of this.titles; let index = index"> {{ field.split(',')[index] }} </td>
        </tr>
      </tbody>
    </table>
</section>
