<div class=" FormExample">
<!-- <div class="RFE">
    <div class="RFE__Container">
        <form [formGroup]="this.form" (ngSubmit)="this.submit()" class="RFE__filed">
            <input placeholder="email" formControlName="email" type="text">
            <p *ngIf="this.form.get('email')?.invalid && this.form.get('email')?.touched">{{this.getErrorMsg("email")}}
            </p>
            <input placeholder="password" formControlName="password" type="password">
            <p *ngIf='this.form.get("password")?.invalid && this.form.get("password")?.touched'>
                {{this.getErrorMsg("password")}}</p>
            <button type="submit" [disabled]="this.form.invalid">送出</button>
        </form>
    </div>
</div>

<div class="RFE">
    <div class="RFE__Container">
        <form [formGroup]='this.form' (ngSubmit)='this.submit()' class="RFE__filed">
            <input
            formControlName='email'
            placeholder='email'
            type="text">
            <p *ngIf='this.form.get("eamil")?.invalid && this.form.get("email")?.touched '>{{this.getErrorMsg('email')}}</p>
            <input
            formControlName='password'
            placeholder="password"
            type='password'>
            <p *ngIf='this.form.get("password")?.invalid && this.form.get("password")?.touched '>{{this.getErrorMsg('password')}}</p>
            <button type="submit" [disabled]="this.form.invalid">送出</button>
            {{'password'+ form.get('password')?.errors| json}}
        </form>
    </div>
</div> -->


<div class="FormExample__Section">
    <h2 class="header-title"># 多層表單: 帳戶彙總查詢</h2>
    <section class="FormExample__Steps">
      <div class="FormExample__Steps_dot Dot_1">1.搜尋</div>
      <div class="FormExample__Steps_dot Dot_2">2.匯總單</div>
      <div class="FormExample__Steps_dot Dot_3">3.細節</div>
    </section>

  <!--//////// 查詢表單 輸入 ////////-->
  <div class="page-card_main">
    <form [formGroup]="form3" (ngSubmit)="this.submit()" (change)="log()">
      <fieldset class="fieldset-select">
        <label class="label">存簿帳號</label>
        <div class="row">
          <button class="btn-select btn-select--default">
            1234567
            <i class=" icon icon-bottom-arrow-gray "></i>
          </button>
          <div class="tip u-text--gray ">
            <p></p>
          </div>
        </div>
      </fieldset>

      <fieldset class="fieldset-radio">
        <label class="label" for="">彙總日期</label>
        <div class="radio-group">
          <label class="radio-btn">全部
            <input type="radio" formControlName="method" [value]="this.collectionDate.All">
            <span class="checkmark"></span>
          </label>
          <label class="radio-btn">已兌付
            <input type="radio" formControlName="method" [value]="this.collectionDate.Cashed">
            <span class="checkmark"></span>
          </label>
        </div>
      </fieldset>
      <ng-container *ngIf="this.form3.controls.method.value === this.collectionDate.Cashed">
        <fieldset class="fieldset-input">
          <label>支票號碼(起)</label>
          <div class="row">
            <input type="number" class="input" formControlName="startNum">
            <div class=" u-t-align--left u-text--gray ">
              <p *ngIf=" form3.get('startNum')?.valid ">請輸入票據號碼後7碼</p>
            </div>
          </div>
        </fieldset>
        <fieldset class="fieldset-input">
          <label>支票號碼(迄)</label>
          <div class="row">
            <input type="number" class="input" formControlName="endNum">
            <div class=" u-t-align--left u-text--gray ">
              <p *ngIf=" isShowWarn === true && form3.get('endNum')!.errors?.valid ">請輸入票據號碼後7碼</p>
              {{'valid?,'+ form3.get('endNum')?.errors | json}}
              {{'valid?,'+ form3.get('endNum')?.value }}
            </div>
          </div>
        </fieldset>
      </ng-container>
      <fieldset class="fieldset-radio">
        <label class="label" for="">金額區間</label>
        <div class="radio-group">
          <label class="radio-btn">全部
            <input type="radio" formControlName="amountRange" [value]="this.collectionDate.All">
            <span class="checkmark"></span>
          </label>
          <label class="radio-btn">自訂
            <input type="radio" formControlName="amountRange" [value]="this.collectionDate.Cashed">
            <span class="checkmark"></span>
          </label>
        </div>
      </fieldset>
      <ng-container *ngIf="this.form3.controls.method.value === this.collectionDate.Cashed">
        <fieldset class="fieldset-input">
          <label>最低金額</label>
          <div class="row">
            <input type="number" class="input" formControlName="minAmount">
            <div class=" u-t-align--left u-text--gray ">
              <p *ngIf=" form3.get('startNum')?.valid ">請輸入票據號碼後7碼</p>
            </div>
          </div>
        </fieldset>
        <fieldset class="fieldset-input">
          <label>最高金額</label>
          <div class="row">
            <input type="number" class="input" formControlName="maxAmount">
            <div class=" u-t-align--left u-text--gray ">
              <p *ngIf=" isShowWarn === true && form3.get('endNum')!.errors?.valid ">請輸入票據號碼後7碼</p>
              {{'valid?,'+ form3.get('endNum')?.errors | json}}
              {{'valid?,'+ form3.get('endNum')?.value }}
            </div>
          </div>
        </fieldset>
      </ng-container>


      <div class="u-text--warning precautions precautions--top">
        <h3 class="precautions-title">驗證規則：</h3>
        <ol class="precautions-list precautions-text">
          <li class="precautions-text">、迄支票須為同一支票本內的支票號碼。</li>
          <li class="precautions-text">若您僅查詢單筆支票明細，「支票號碼(迄)」欄免輸入。</li>
        </ol>
      </div>

      <div class="page-card_main-footer">
        <button [disabled]="this.form3.invalid" class="btn btn--primary" type="submit" (click)="submit3()">確認</button>
      </div>
    </form>
  </div>
</div>

</div>
