@import "/src/assets/styles/base";
@import "/src/assets/styles/font.scss";
@import "/src/assets/styles/input.scss";
@import "/src/assets/styles/btn";
@import "/src/assets/styles/icon";

.FormExample {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 100px 80px;
  margin: 0;
  background-color: rgb(9, 43, 71);

  &__Steps {
    position: relative;
    border-bottom: 3px dotted rgb(138, 138, 138);
    margin: 29px 44px 46px 37px;
    color: rgba(255, 255, 255, 0.5);
  }
  &__Steps_dot {
    position: absolute;
    transform: translate(-50%, -50%);
    display: flex;
    place-content: center center;
    height: 30px;
    padding: 0 10px;
    line-height: 33px;
    letter-spacing: 1px;
    white-space: nowrap;
    border-radius: 30px;
    background-color: rgb(9, 43, 71);
    border: 6px solid rgb(9, 43, 71);
  }
}
.Dot_1 {
  left: 0;
}
.Dot_2 {
  left: 50%;
}
.Dot_3 {
  left: 100%;
}
.RFE {
  width: 100vw;
  height: 350px;
  &__Container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 350px;
  }
  &__filed {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    border: 1px solid black;
    & > button {
      position: absolute;
      top: calc(100% - 30px);
      right: 20px;
      height: 30px;
      width: 100px;
    }
  }
}
.page-card_main-footer {
  text-align: center;
  & > button:disabled {
    background-color: gray;
    color: white;
  }
}

// ----費用明細表框架---

.account-expense-statement {
  width: 100%;
  margin-top: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  box-sizing: border-box;
}
.precautions--top {
  margin-top: 35px;
}

/* 通用樣式 包含 外層：page-card，內層：header、main、footer */
//head icon 和 head title 放在 head container，icon 當中可以再加入 img 標籤

.page-card {
  width: 100%;
  left: 50%;
  top: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.header-title {
  display: inline-block;
  font-size: 22px;
  font-weight: normal;
  letter-spacing: 1px;
  margin: 20px 0;
  color: white !important;
}



.page-card_main {
  width: 350px;
  padding: 5% 18px;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.08);
  border-radius: 0px 0px 10px 10px;
  margin-top: 5px;
  flex-grow: 1;
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 4px 5px 5px rgba(2, 28, 61, 0.726);

  .page-card_main-footer {
    margin-top: 20px;
  }
}

.page-card_footer {
  padding-bottom: 15px;
  margin-top: 6px;
  background: #ffffff;
  height: 92px;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
}
